﻿@page
@model Otus.Teaching.PromoCodeFactory.WebHost.Areas.Admin.Pages.Customers.CreateModel
@{
}
<h1 class="h4">@Model.PageTitle</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="CustomerModel.LastName"></label>
        <input asp-for="CustomerModel.LastName" class="form-control" />
        <span class="alert-danger" asp-validation-for="CustomerModel.LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustomerModel.FirstName"></label>
        <input asp-for="CustomerModel.FirstName" class="form-control" />
        <span class="alert-danger" asp-validation-for="CustomerModel.FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustomerModel.Email"></label>
        <input asp-for="CustomerModel.Email" class="form-control" />
        <span class="alert-danger" asp-validation-for="CustomerModel.Email"></span>
    </div>

    <div class="form-group">
        <label asp-for="CustomerModel.PreferencesIds"></label>
        <select asp-for="CustomerModel.PreferencesIds" asp-items="@Model.CustomerModel.Preferences" class="custom-select w-100"></select>
        <span class="alert-danger" asp-validation-for="CustomerModel.PreferencesIds"></span>
    </div>

    <input type="submit" value="Сохранить" />
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
