﻿@page
@model Otus.Teaching.PromoCodeFactory.WebHost.Areas.Admin.Pages.Customers.IndexModel
@{
}
    <div class="container my-5">
        <div class="d-flex justify-content-between m-2">
            <h3>@Model.PageTitle</h3>
            <a asp-area="Admin" asp-page="/Customers/Create" class="btn btn-info">Создать</a>
        </div>
        @if (Model.Customers.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>фамилия</th>
                        <th>email</th>
                        <th class="text-right">Действия</th>
                    </tr>
                </thead>

                @foreach (var p in Model.Customers)
                {
                    <tr>
                        <td>@p.FirstName</td>
                        <td>@p.LastName</td>
                        <td>@p.Email</td>
                       
                        <td align="right">
                            <a class="btn btn-info" asp-page="/Customers/Edit" asp-route-id="@p.Id">edit</a>
                            <a class="btn btn-danger" asp-page="/Customers/Delete" asp-route-id="@p.Id" onClick="confirm('Точно удаляем?')">del</a>
                        </td>
                    </tr>

                }
            </table>
        }
        else
        {
            <p>нет данных</p>
        }
    </div>