﻿@page "{id}"
@model Otus.Teaching.PromoCodeFactory.WebHost.Areas.Admin.Pages.Promocodes.EditModel
@{
}
<h1 class="h4">@Model.PageTitle</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="PromocodeModel.Code"></label>
        <input asp-for="PromocodeModel.Code" class="form-control" />
        <span class="alert-danger" asp-validation-for="PromocodeModel.Code"></span>
    </div>
    <div class="form-group">
        <label asp-for="PromocodeModel.ServiceInfo"></label>
        <input asp-for="PromocodeModel.ServiceInfo" class="form-control" />
        <span class="alert-danger" asp-validation-for="PromocodeModel.ServiceInfo"></span>
    </div>
    <div class="form-group">
        <label asp-for="PromocodeModel.BeginDate"></label>
        <input asp-for="PromocodeModel.BeginDate" class="form-control" />
        <span class="alert-danger" asp-validation-for="PromocodeModel.BeginDate"></span>
    </div>
    <div class="form-group">
        <label asp-for="PromocodeModel.EndDate"></label>
        <input asp-for="PromocodeModel.EndDate" class="form-control" />
        <span class="alert-danger" asp-validation-for="PromocodeModel.EndDate"></span>
    </div>

    <div class="form-group">
        <label asp-for="PromocodeModel.PartnerId"></label>
        <select asp-for="PromocodeModel.PartnerId" asp-items="@Model.PromocodeModel.Partners" class="custom-select w-100"></select>
        <span class="alert-danger" asp-validation-for="PromocodeModel.PartnerId"></span>
    </div>
    <div class="form-group">
        <label asp-for="PromocodeModel.PreferenceId"></label>
        <select asp-for="PromocodeModel.PreferenceId" asp-items="@Model.PromocodeModel.Preferences" class="custom-select w-100"></select>
        <span class="alert-danger" asp-validation-for="PromocodeModel.PreferenceId"></span>
    </div>
    <input type="hidden" asp-for="PromocodeModel.Id" />

    <input type="submit" value="Сохранить" />
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
