﻿@page
@model Otus.Teaching.PromoCodeFactory.WebHost.Areas.Admin.Pages.Promocodes.IndexModel
@{
}
<div class="container my-5">
    <div class="d-flex justify-content-between m-2">
        <h3>@Model.PageTitle</h3>
        <a asp-area="Admin" asp-page="/Promocodes/Create" class="btn btn-info">Создать</a>
    </div>
    @if (Model.PromoCodesModel.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Инфо</th>
                    <th>Начало</th>
                    <th>Окончание</th>
                    <th>Партнёр</th>
                    <th class="text-right">Действия</th>
                </tr>
            </thead>

            @foreach (var p in Model.PromoCodesModel)
            {
                <tr>
                    <td>@p.Code</td>
                    <td>@p.ServiceInfo</td>
                    <td>@p.BeginDate</td>
                    <td>@p.EndDate</td>
                    <td>@p.PartnerName</td>
                    <td align="right">
                        <a class="btn btn-info" asp-page="/Promocodes/Edit" asp-route-id="@p.Id">edit</a>
                        <a class="btn btn-danger" asp-page="/Promocodes/Delete" asp-route-id="@p.Id" onClick="confirm('Точно удаляем?')">del</a>
                    </td>
                </tr>

            }
        </table>
    }
    else
    {
        <p>нет данных</p>
    }
</div>