﻿@page "{id}"
@model Otus.Teaching.PromoCodeFactory.WebHost.Areas.Admin.Pages.Preferences.EditModel
@{
    ViewData["Title"] = "Edit";
}
<h1 class="h4">@Model.PageTitle</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Model.Name"></label>
        <input asp-for="Model.Name" class="form-control" />
        <span class="alert-danger" asp-validation-for="Model.Name"></span>
    </div>
    <input type="hidden" asp-for="Model.Id"/>
    <input type="submit" value="Сохранить" />
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
