﻿@page
@model Otus.Teaching.PromoCodeFactory.WebHost.Areas.Admin.Pages.Preferences.IndexModel
@{
}

<div class="container my-5">
    <div class="d-flex justify-content-between m-2">
        <h3>@Model.PageTitle</h3>
        <a  asp-area="Admin" asp-page="/Preferences/Create" class="btn btn-info">Создать</a>
    </div>
    @if (Model.Preferences.Any())
    {
        <table class="table">
            <thead>
            <tr>
                <th>Нвазвание</th>
                <th class="text-right">Действия</th>
            </tr>
            </thead>

            @foreach (var p in Model.Preferences)
            {
                <tr>
                    <td>@p.Name</td>
                    <td align="right"> 
                        <a class="btn btn-info" asp-page="/Preferences/Edit" asp-route-id="@p.Id">edit</a>
                        <a class="btn btn-danger" asp-page="/Preferences/Delete" asp-route-id="@p.Id" onClick="confirm('Точно удаляем?')">del</a>
                    </td>
                </tr>
         
            }
        </table>
    }
    else
    {
        <p>нет данных</p>
    }
</div>
